@media all and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  body {background-color: lightcyan;
    margin: auto;
    width: 960px;
    height: 700px;
  }
  header {
    margin:auto;
    border: 1px solid black;
    height: 14.3%;
  }
  aside {
    float:left;
    width: 200px;
    border: 1px solid black;
    height: 85.7%;
  }
  main {
    height: 64.3%;
    display: inline-block;
    overflow: hidden;
    width: 79.1%;
  }

  footer {
    float:right;
    width: 79.1%;
    height: 150px;
    border: 1px solid black;
  }

  section {
    overflow: hidden;
  }

  article {
    float: left;
    width: 50%;
    height: 200px;
    border: 1px solid black;
  }

  .squares {
    width: 50%;
    float:left;
  }

  div {
    float:left;
    border: 1px solid black;
    width: 50%;
    height: 250px;
  }
  #g_h {
    float:right;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  body {
    display: flexbox;
    margin: auto;
    width: 480px;
    height: 1055px;
  }
  header {
    margin:auto;
    border: 1px solid black;
    height: 7.5%;
  }

  aside {
    margin:auto;
    border: 1px solid black;
    height: 14.2%;

  }
  main {
    height: 71%;
    display: flexbox;
  }
  section {
    height: 33.3%;
    margin:auto;
    overflow: hidden;
  }

  article {
    margin: auto;
    border: 1px solid black;
    height: 50%;
  }

  div {
    border: 1px solid black;
    width: 50%;
    height: 100%;
  }

  
  footer {
    display: flexbox;
    border: 1px solid black;
  }

}