body { 
}

@media (min-width: 480px) and (max-width: 767px) {
  body {
    margin: auto;
    width: 480px;
    height: 1055px;
    box-sizing: border-box;
  }
  header {
    box-sizing: border-box;
    margin:auto;
    border: 1px solid black;
    height: 7.1%;
    line-height: 75px;

  }
  aside {
    margin:auto;
    border: 1px solid black;
    height: 14.2%;
    line-height: 150px;
    box-sizing: border-box;

  }
  main {
    height: 71%;
    box-sizing: border-box;

  }
  section {
    box-sizing: border-box;
    margin:auto;
    height: 33.3%;
    overflow: hidden;
  }

  article {
    box-sizing: border-box;
    margin: auto;
    border: 1px solid black;
    height: 50%;
    line-height: 125px;
  }
  .squares {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    line-height: 250px;
  }
  
  div {
    box-sizing: border-box;
    border: 1px solid black;
    width: 50%;
    height: 100%;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float:right;
  }

  
  footer {
    box-sizing: border-box;
    border: 1px solid black;
    /* height: 7.6%; */
    line-height: 80px;
  }

}

@media (max-width: 480px) {
}