@media all and (min-width: 768px) {
  * {
    background-color: black;

  }
  header {
    background-color: lightcyan;

  }
  aside {
    background-color: rgb(233, 195, 180);

  }

  footer {
    background-color: rgb(170, 170, 219);

  }

  section article:first-child {
    background-color: rgb(207, 235, 207);
  }

  section article:last-child{
    background-color: lightyellow;
  }

  #e_f div:first-child{
    background-color: rgb(236, 216, 236);
  }

  #e_f div:last-child{
    background-color: pink;
  }

  #g_h div:first-child{
    background-color: rgb(238, 106, 106);
  }

  #g_h div:last-child{
    background-color: rgb(235, 196, 158);
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  * {
    background-color: white;
  }
  header {
    background-color: rgb(231, 231, 151);

  }
  aside {
    background-color: rgb(156, 235, 235);

  }

  footer {
    background-color: rgb(158, 158, 223);

  }

  section article:first-child {
    background-color: rgb(226, 202, 158);
  }

  section article:last-child{
    background-color: rgb(145, 207, 209);
  }

  #e_f div:first-child{
    background-color: rgb(155, 174, 231));
  }

  #e_f div:last-child{
    background-color: rgb(215, 250, 164);
  }

  #g_h div:first-child{
    background-color: rgb(252, 199, 208);
  }

  #g_h div:last-child{
    background-color: rgba(148, 139, 139, 0.521);
  }

}